<footer class="footer mt-5">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-4 mb-3">
        <h5 class="footer-title">SG TechStore</h5>
        <p class="footer-text">Electrónica premium para un estilo de vida moderno</p>
      </div>
      
      <div class="col-md-2 mb-3">
        <h6 class="footer-subtitle">Empresa</h6>
        <ul class="footer-links">
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Carreras</a></li>
          <li><a href="#">Prensa</a></li>
        </ul>
      </div>
      
      <div class="col-md-2 mb-3">
        <h6 class="footer-subtitle">Soporte</h6>
        <ul class="footer-links">
          <li><a href="#">Centro de Ayuda</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Devoluciones</a></li>
        </ul>
      </div>
      
      <div class="col-md-2 mb-3">
        <h6 class="footer-subtitle">Legal</h6>
        <ul class="footer-links">
          <li><a href="#">Privacidad</a></li>
          <li><a href="#">Términos</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
      
      <div class="col-md-2 mb-3">
        <h6 class="footer-subtitle">Síguenos</h6>
        <div class="social-icons">
          <a href="#" class="social-icon">
            <mat-icon>facebook</mat-icon>
          </a>
          <a href="#" class="social-icon">
            <mat-icon>twitter</mat-icon>
          </a>
          <a href="#" class="social-icon">
            <mat-icon>instagram</mat-icon>
          </a>
        </div>
      </div>
    </div>
    
    <hr class="footer-divider">
    
    <div class="row py-3">
      <div class="col-12 text-center">
        <p class="copyright mb-0">
          © 2025 SG TechStore. Todos los derechos reservados. Hecho con ❤️ usando Angular 18
        </p>
      </div>
    </div>
  </div>
</footer>